
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div class="col-md-4">
    <h3>EBuy</h3>
    <ul>
        @*<li>
            <a href="@Url.Action("Index", "Auctions")">
                Auctions
            </a>
        </li>*@
        <li>
            <a href="@Url.Action("Details", "Auctions", new { id = "123" })">
                Auctions Details
            </a>
        </li>
        <li>
            <a href="@Url.Action("Create", "Auctions")">
                Create Auction
            </a>
        </li>
    </ul>
</div>

<div class="col-md-4">
    <h3>Salonman</h3>
    <ul>
        <li>
            <a href="@Url.Action("Index", "Cumas")">
                Cumas
            </a>
        </li>
    </ul>
</div>

<div class="col-md-4">
    <h3>Learning</h3>
    <ul>
        <li>
            @Html.ActionLink("Test Layout", "Index", "TestLayout")
        </li>
        <li>
            <a href="@Url.Action("Index", "PartialView")">
                Partial View
            </a>
        </li>
        <li>
            <a href="@Url.Action("IndexViewDataModel", "PartialView")">
                Index View Data Model - Partial View
            </a>
        </li>
    </ul>
</div>

