@model EBuy.Model.Models.Auction

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Auction</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CurrentPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CurrentPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndTime)
        </dd>

    </dl>
</div>

<button id="showAuction">Show Partial Details</button>
<button id="updateAuctionInfo">Show JSON Details</button>

<div class="row"></div>

<div id="partial-details" class="col-md-6">

</div>

<div id="json-details" class="col-md-6">
    <div class="form-group">
        <label class="control-label col-md-3" for="Title">Title</label>
        <div class="col-md-9">
            <div id="Title" style="padding-top: 7px;"></div>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-3" for="Description">Description</label>
        <div class="col-md-9">
            <div id="Description" style="padding-top: 7px;"></div>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-3" for="CurrentPrice">CurrentPrice</label>
        <div class="col-md-9">
            <div id="CurrentPrice" style="padding-top: 7px;"></div>
        </div>
    </div>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>

@section Scripts {
    <script type="text/javascript">

        $(document).ready(function () {
            $("#showAuction").click(
                    function () { showAuction(10); }
                );

            $("#updateAuctionInfo").click(
                        function () { updateAuctionInfo(10); }
                    );
        });



        function showAuction(auctionId) {
            $('#partial-details').load('@Url.Action("PartialDetails", "Auctions")/' + auctionId);
        }

        function updateAuctionInfo(auctionId) {
            $.ajax({
                url: '@Url.Action("JSONDetails", "Auctions")/' + auctionId,
                success: function (result) {
                    $('#Title').text(result.Title);
                    $('#Description').text(result.Description);
                    $('#CurrentPrice').html(result.CurrentPrice);
                }
            });
        }
    </script>
}