@model EBuy.Model.Episodes

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Episodes</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Episode_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Episode_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StarDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StarDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
